
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit movie</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h4>Edit Movie</h4>
          </div>
          <div class="card-body">
            <form action="/movieForm" method="post">
              <input type="text" name="editId" value="<%=  singleMovie.id %>" hidden>
              <div class="form-group">
                <label for="movieName">Movie Name</label>
                <input type="text" class="form-control" name="movieName" placeholder="Enter Movie Name" value="<%= singleMovie.movieName %>" >
              </div>
              <div class="form-group">
                <label for="price">Ticket price</label>
                <input type="number" class="form-control" name="price" placeholder="Enter price" value="<%= singleMovie.price %>">
              </div>
              <div class="form-group">
                <label for="rate">Description</label>
                <input type="text" class="form-control" name="description" placeholder="Enter description" value="<%= singleMovie.description %>">
              </div>
              <div class="form-group">
                <label for="catagory">Type</label>
                <input type="text" class="form-control" name="type" placeholder="Enter type" value="<%= singleMovie.type %>">
              </div>
              <div class="form-group">
                <label for="catagory">Rating</label>
                <input type="text" class="form-control" name="rating" placeholder="Enter Rating" value="<%= singleMovie.rating %>">
              </div>
              <!-- <div class="col-md-6">
                <label for="catagory">Image</label>
                <input type="file" class="form-control" name="productImg" placeholder="Enter Image">
              </div> -->
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="submit" class="btn btn-primary"><a href="/views" class="text-white">View</a></button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>